<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tereshchenko.androidlessons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LessonActivity.LessonActivity" />
        <activity android:name=".LessonActivity.ActivityCommunication.ActivityCommunication" />
        <activity android:name=".LessonActivity.ActivityCommunication.Calculator" />
        <activity android:name=".LessonLayouts.LessonLayouts" />
        <activity android:name=".LessonControls.LessonControls" />
        <activity android:name=".LessonControls.TextViewControl" />
        <activity android:name=".LessonControls.EditTextControl" />
        <activity android:name=".LessonControls.ButtonControl.ButtonControl" />
        <activity android:name=".LessonControls.SnackbarControl" />
        <activity android:name=".LessonControls.CheckboxControl" />
        <activity android:name=".LessonControls.ToggleButtonControl" />
        <activity android:name=".LessonControls.RadioButtonControl" />
        <activity android:name=".LessonControls.DatePickerControl" />
        <activity android:name=".LessonControls.TimePickerControl" />
        <activity android:name=".LessonLayouts.LinearLayoutLesson" />
        <activity android:name=".LessonLayouts.RelativeLayoutLesson" />
        <activity android:name=".LessonLayouts.ScrollViewLesson" />
        <activity android:name=".LessonLayouts.TableLayoutLesson" />
        <activity android:name=".LessonLayouts.FrameLayoutLesson" />
        <activity android:name=".LessonLayouts.GridLayoutLesson" />
        <activity android:name=".LessonLayouts.ConstraintLayoutLesson" />
        <activity android:name=".LessonLayouts.LayoutLoading" />
        <activity android:name=".LessonResources.ResourceLesson" />
        <activity android:name=".LessonControls.ImageViewControl" />
        <activity android:name=".LessonLists.LessonLists" />
        <activity android:name=".LessonLists.LessonArrayAdapter"></activity>
    </application>

</manifest>